@media (max-width: 600px) {
    .quizlist {
        width:100% !important;
    }
    .cours {
        width: 100% !important;
    }

}

hr {
    border: 2px solid #5799D7;
}

.mbot {
    margin-bottom: 100px;
}

:root {
  --bg-blanc: #FFFFFF !important;
          --blue-personalise : #5799D7;
}

*{
    margin :0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: var(--bg-blanc);
}

menu{
    background: var(--bg-blanc);
    box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: var(--bg-blanc);
    overflow: hidden;
    text-align: center;

}

.navbar {
    margin: 0px; !important;
    padding: 0px; !important;
}

.nav-link {
    margin-bottom: -0.5rem;

}



menu li a {
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase ;
    border-bottom: 3px solid transparent;
}


#logo-site{
    background-size: 100% 100%;
    width: 106px;
    height: 45px;

}


menu button i{
    color: var(--bg-blanc);
    font-size: 25px;
    margin-top: 10px;
}
menu .fa-user-circle-o{
    font-size: 40px;
}


.desc{
    display: none;
    padding: 5px;
}
.desc p{
    font-size: 14px;
}
.desc p span{
    color: #EDB83D;
}

.connexion {
    margin-top: 30px;
}

.required:after{
	padding-left: 2px;
	content:"*";
	color:red;
}

#fichierImportation:after{
	content:"Fichier d'importation";
}

.submit {
    text-align : center; !important;
}

.control-label {
    text-align: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--blue-personalise);
    color:#fff;
}

.list-group-item-action {
    width: auto; !important;
}

.list-group-item-action.ml-4:hover {
    width: auto; !important;
    background-color: var(--blue-personalise);

}

.quiz {
    padding: 15px !important;
    margin: 10px !important;
    text: align-center;
}

.buttonsQuiz {
    margin-top: 5pt;
    margin-right: 5pt;
}

.buttonAddQuestion {
    margin-top: 25pt;
}

.questionInput {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-creercours {
    width: 60%;
    margin: 20px auto
}

html {
    position: relative;
    min-height: 100%;
}




